/* Add this to your CSS or styles */
.arrow-icon {
  fill: currentColor; /* Arrow inherits color from parent */
}

/* .arrow-icon-white-red {
  fill: #fff;
}

.arrow-icon-red:hover button {
  color: #a40004;
}

.arrow-icon-black {
  fill: #000;
}

.arrow-icon-black-white {
  fill: #000;
}

.arrow-icon-black-white:hover {
  color: #fff;
} */
